.container {
    position: relative;
    z-index: 1;

}

.center {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.icon-image {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

.dropdows {
    width: 1000px;
    height: 50px;
    border-radius: 10px;
    padding-left: 40px;
 
}

.label-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    pointer-events: none;
    /* Prevent icon from blocking dropdown interaction */
}

.select-label {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.nameweb {
    display: flex;

}

.nameweb1,
.nameweb2 {
    font-size: 40px;
    line-height: 0;
    margin-top: 45px;
    margin-left: 10px;
    font-family: Inter;
    font-style: italic;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    /* ปรับระยะห่างระหว่างบรรทัดให้น้อยลง */
}

.nameweb2 {
    margin-left: 140px;
}

.with-lines {
    position: relative;
    text-align: center;
    color: white;
    font-family: Inter;
}

.with-lines::before,
.with-lines::after {
    content: "";
    position: absolute;
    height: 0.5px;
    background-color: #ffffff;
    width: 1000px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.with-lines::after {
    top: auto;
    bottom: -10px;
}

.searchbutton {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-color: #ffffff00;
   
}

.searchbutton:hover {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-color: #ffffff00;
}

.loginbutton {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #ffffff00;
    border-color: rgb(255, 255, 255)
}

.loginbutton:hover {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #ffffff;
    border-color: rgb(255, 255, 255)
}

.registerbutton {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #1F496B;
    border: 1px solid #00000033;
    margin-left: 10px;
}

.registerbutton:hover {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #061c2e;
    border: 1px solid #00000033;
    margin-left: 10px;
}

.container2 {
    position: relative;
    /* หรือ absolute ถ้าต้องการวางตำแหน่งคงที่ */
    z-index: 2;
    /* ค่า z-index สูงกว่า container เพื่อให้ทับได้ */
    margin-top: -10%;
    width: 100%;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
}

.with-lines2 {
    font-size: 40px;
    padding-top: 100px;
    font-family: Inter;
    font-style: italic;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.topright {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 18px;

}

.container3 {
    z-index: 1;
    position: relative;
    margin-top: 100px;
}

.footer {
    position: relative;
    z-index: -1;
    margin-top: -5%;
    width: 100%;
    height: 150px;
    background-color: #1F496B;
}

.center-footer {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.footer-text {
    padding-top: 5px;
    color: white;
}

.font-text {
    font-family: Inter;
    padding-right: 5px;
}

.skyimage {
    height: 40px;
    width: 40px;
    padding-top: 20px;
}

.maincontent {
    display: flex;
}

.font-text-detail {
    margin-top: -20px;
    color: #A3A0A0;
}

.between1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fix-row{
    display: flex;
    width: 1350px;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.card {
    
    border-radius: 10px;
    width: 250px;
    height: 350px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
}

.location-badge {
    background-color: #00A1FF;
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 9px  0px  10px  0px;
    font-size: 12px;
    font-weight: bold;
}

.image-container {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.property-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.rating {
    display: flex;
    align-items: center;
}

.rating img {
    width: 20px;
    margin-right: 5px;
}

.review-count {
    font-size: 12px;
    color: gray;
}

.score {
    font-size: 14px;
    color: #00A1FF;
    font-weight: bold;
    margin-top: 5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.provicebutton {
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Default style for buttons */
.bk-button, .ch-button {
    width: 120px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #00000033;
    background-color: #85C1F040;
    color:  #1F496B;
    
    transition: background-color 0.3s;
  }
  
  .bk-button:hover, .ch-button:hover {
    background-color: #1F496B;
    color: white;
  }
  
  /* Active style for the selected city */
  .active {
    background-color: #1F496B;
    color: white;
    border: 1px solid #ffffff33;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    font-size: 20px;
    color: white;
    
  }
  
  .dropdown-menu {
    
    position: absolute;
    background-color: white;
    border-radius: 50px;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    right: 0;
    
  }
  
  .dropdown-menu button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: #3E9AEF;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #034583;
  }
  .profile-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .search{
    display: flex;
    align-items: center;
  }
  .dropdown-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }

  .dropdown-button img.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* เว้นระยะระหว่างรูปไอคอนและข้อความ */
  }